<ul class="navbar-nav ">
    @if (User.Identity.IsAuthenticated) { 
        <li class="nav-item">
            <a  asp-page="/Identity/Index" class="nav-link active text-white" aria-current="page" > @User.Identity.Name</a>
          </li>
          <li class="nav-item">
            <a  asp-area="Identity" asp-page="/Account/Logout"  class="nav-link active text-white" aria-current="page" > Logout</a>
          </li>
    } else {
        <li class="nav-item">
            <a  asp-area="Identity" asp-page="/Account/Login"   class="nav-link active text-white" aria-current="page" > Login/Register</a>
          </li>
    }
</ul>

