<div class="row  justify-content-center">
  <div class="col-4 d-flex justify-content-center">
    <button *ngIf="user!== null && !WritingPost" type="button" class="btn btn-primary m-2" (click)="startWritingPost()">Add New Thought</button>
  </div>
</div>

<div *ngIf="WritingPost" class="border  border-2 rounded-3 mt-2"  [style.background-color]="'wheat'">
  <choosePrivacy  (choosePrivacyEvent)="choosePrivacyEvent($event)"></choosePrivacy>

    <div class="row  align-items-start m-2 mb-4 ">
            <textarea class="form-control" [(ngModel)]="text" 
                placeholder="write your thoughts" id="floatingTextarea"></textarea>
            <label for="floatingTextarea"></label>
    </div>
    <chooseAya (chooseAyaEvent)="chooseAyaEvent($event)" ></chooseAya>
    <div class="row m-2">
            <button type="button" class=" col p-2 m-4 btn btn-info" (click)="CancelWritingPost()">Cancel</button>
            <button type="button" [disabled]="submitted" class=" col p-2 m-4 btn btn-primary " (click)="AddingPost()">               
                <loading *ngIf="submitted"></loading>
                <span *ngIf="!submitted">Post</span></button>
    </div>      
</div>


