<h4 *ngIf="message != null" class="p-2 bg-danger text-white">
    {{message}}
</h4>

<form novalidate #formHandle="ngForm" class="m-3">
    <div class="form-group">
        <label>{{'CURRENT_PASSWORD' |translate}}</label>
        <input class="form-control" name="current"  #currentHandle="ngModel"
         [(ngModel)]="current" type="password" />
    </div>
    <div class="form-group">
        <label>{{'NEW_PASSWORD' | translate}}</label>
        <input class="form-control" name="newpassword" #newPasswordHandle="ngModel"
         [(ngModel)]="newPassword" type="password" />
    </div>
    <div class="form-group mb-2">
        <label>{{'CONFIRM_NEW_PASSWORD' |translate}}</label>
        <input class="form-control" name="confirmpassword" #confirmPasswordHandle="ngModel"
         [(ngModel)]="confirmPassword" type="password" />
    </div>
    <div *ngIf="newPasswordHandle.value !== confirmPasswordHandle.value" class="text-danger">
        {{'PASSWORD_DONOT_MATCH' |translate}}
    </div>   
    <button class="btn btn-primary" (click)="changePassword()" [disabled]="formHandle.invalid">
        <spinner *ngIf="loading"></spinner>
        <span *ngIf="!loading">{{'CHANGE_PASSWORD' |translate}}</span>
    </button>
</form>
<a routerLink="/" class="btn btn-secondary ms-3">{{'CANCEL' |translate}}</a>      
