  <table class="table  table-sm table-striped table-bordered ">
    <thead>
        <tr><th>{{'PROPERTY' |translate}}</th><th>{{'VALUE' |translate}}</th></tr>
    </thead>
    <tbody>
        <tr>
            <td>{{'EMAIL' |translate}}</td>
            <td class="text-truncate" style="max-width:250px">
                {{email}}
            </td>
        </tr>
        <tr>
            <td>{{'USERNAME' |translate}}</td>
            <td class="text-truncate" style="max-width:250px">
                {{username}}
            </td>
        </tr>
    </tbody>
</table>  

