<p class="text-end p-2" style="overflow : auto; height: 17vh; background-color: aliceblue">
    {{aya?.text ?? "loading..."}}
</p>

<div *ngIf="!edit">
    <p class="text-end p-2" style="overflow : auto; height: 17vh; background-color: aliceblue">
        {{note?.text ?? "No Notes yet"}}
    </p>
    <button type="button"  class="btn btn-primary" (click)="edit = true" >
        edit
    </button>
</div>

<div *ngIf="edit">
    <textarea class="form-control m-2"  [(ngModel)]="note.text" ></textarea>
    <button type="button" *ngIf="edit" class="btn btn-warning" (click)="saveNote()">
        save
    </button>
</div>

