<modal [title]="'Share Post'"  (hideModalEvent)="shareDone()">
    <div class="modal-body">
          <choosePrivacy  (choosePrivacyEvent)="choosePrivacyEvent($event)"></choosePrivacy>
        <div class="row  align-items-start m-2">
                <textarea class="form-control" [(ngModel)]="text" 
                    placeholder="write your thoughts" id="floatingTextarea"></textarea>
                <label for="floatingTextarea"></label>
        </div>
        <button *ngIf="!addAya" type="button" class="offset-4 col-4 btn btn-primary d-inline" (click)="addingAya()">Add Aya</button>
                <chooseAya *ngIf="addAya" [chosenSura]="post.verse.sura"
                [chosenAya]="post.verse.aya"
                 (chooseAyaEvent)="chooseAyaEvent($event)" ></chooseAya>
        <post [post]="post"></post>
     
    </div>
    <div class="modal-footer">
        <div>
            <button type="button" class="btn btn-secondary me-2" (click)="shareDone()" data-bs-dismiss="modal">Close</button>
            <button type="button" [disabled]="submitted" class="btn btn-primary" (click)="sharingPost()">               
                <spinner *ngIf="submitted"></spinner>
                <span *ngIf="!submitted">Share</span></button>
        </div>
  </div>
</modal>
